Host 192.168.21.28
    RequestTTY yes
    ProxyCommand ncat -l -p 34567 -e /usr/lib/sftp-server & nc %h %p
    RemoteForward 34568 localhost:34567
    RemoteCommand sshfs localhost:. /home/user/shared_dir -o directport=34568 || exit ; cd /home/user/shared_dir; /bin/bash -li; cd ; fusermount -u /home/user/shared_dir

Host 192.168.21.45 
    RequestTTY yes
    ProxyCommand ncat -l -p 34569 -e /usr/lib/sftp-server & nc %h %p
    RemoteForward 34570 localhost:34569
    RemoteCommand sshfs localhost:. /home/user/shared_dir -o directport=34570 || exit ; cd /home/user/shared_dir; /bin/bash -li; cd ; fusermount -u /home/user/shared_dir